<h1>About</h1>
<h6>40823206-cd2021</h6>
<h1>Stage1</h1>
<p>我的倉儲/網頁: </p>
<p><a href="https://gitlab.com/40823206/cd2021-">40823206repo</a></p>
<p><a href="https://40823206.gitlab.io/cd2021-/content/index.html">40823206site</a> </p>
<p>組員倉儲/網頁:</p>
<p><a href="https://github.com/40823207/cd2021-">40823207repo</a></p>
<p><a href="https://40823207.github.io/cd2021/content/index.html">40823207site</a></p>
<p>分組倉儲/網頁:</p>
<p><a href="https://github.com/40823206/stage1-bg3">40823206/stage1-bg3</a></p>
<p><a href="https://40823206.github.io/stage1-bg3/content/index.html">40823206/stage1-bg3</a></p>
<p><a href="https://github.com/40823207/stage1-bg3">40823207/stage1-bg3</a></p>
<p><a href="https://40823207.github.io/stage1-bg3/content/index.html">40823207/stage1-bg3</a></p>
<h6>第一階段分組協同實習</h6>
<h6>每周分組報告必須包含html.pdf與Youtube影片</h6>
<h6>標題:2021-協同產品設計實習-stage1-bg3</h6>
<h6>專題題目:傘 </h6>
<h6>動機:不想要淋雨曬太陽</h6>
<h1>Stage2</h1>
<p>組員倉儲/網頁:</p>
<p><a href="https://github.com/40823207/cd2021-">40823207repo</a></p>
<p><a href="https://40823207.github.io/cd2021/content/index.html">40823207site</a></p>
<p><a href="https://github.com/40823223/cd2021-">40823223repo</a></p>
<p><a href="https://40823223.github.io/cd2021/content/index.html">40823223site</a></p>
<p><a href="https://github.com/40823224/cd2021-">40823224repo</a></p>
<p><a href="https://40823224.github.io/cd2021/content/index.html">40823224site</a></p>
<p>將各組 Stage2 分組網站同步至 Heroku:</p>
<p>詳細流程請參考<span> </span><a href="http://mde.tw/wcm2021/content/Heroku%20%E5%AF%A6%E4%BD%9C.html">http://mde.tw/wcm2021/content/Heroku 實作.html</a></p>
<p>要求: 每一位組員帳號下都要有一份同步的分組靜態與動態網站內容, 並且將靜態內容同步至一個分組 herokuapp.com 網站.</p>
<h4>專題題目:夾娃娃機</h4>
<h6>工作分配:</h6>
<h6>繪圖:40823207、40823223</h6>
<h6>網頁編輯:40823206、40823224</h6>
<h2>零件檔、模擬</h2>
<p><a href="https://drive.google.com/drive/folders/10psKhTUQiT_y45Z16jpTXBuA7Jk3miN3?usp=sharing">雲端下載零件檔</a></p>
<h1>Stage3</h1>
<p>協同產品設計實習課程中的養成訓練, 必須將各分組的議題內容, 當作是一項全能競賽的訓練.</p>
<p>以十項全能運動為例: 第一天選手必須進行 100 公尺, 跳遠, 鉛球, 跳高與 400 公尺項目, 而第二天則必須進行 110 公尺高欄, 鐵餅, 撐竿跳, 標槍與 1500 米的項目. 每一位選手都必須完成各個項目, 儘管有些選手擅長短跑或田賽項目, 但是全能競賽的總分必須由每一個項目的分數加總.</p>
<p>當各組以兩人, 四人或八人在進行協同產品設計實習專案時, 也必須抱持全能競賽訓練的精神, 讓每一位組員都必須參與各個項目的內容執行, 以本課程各 Stage 的專案內容而言, 共包含:<span> </span><span>1) 動態網站維護與轉檔, 2) 倉儲內容改版與同步, 3) 雲端主機內容同步, 4) 提出構想並參與討論, 5) 文獻搜尋, 6) 參數式零組件繪圖, 7) 零組件轉檔, 8) 機電系統模擬與控制, 9) 專案報告編寫與 10) 網際簡報編寫</span>等十個主要項目, 各組在任務執行期間, 應該確實讓每一位組員都實際執行所有任務的練習.</p>
<h2>W10</h2>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" data-mce-fragment="1" frameborder="0" height="315" src="https://www.youtube.com/embed/rIZ-RwBM7wY" title="YouTube video player" width="560"></iframe></p>
<p>經小組成員討論後，決定主題延續Stage2-bg11的免彎腰販賣機。</p>
<p><strong>分配任務</strong></p>
<p>程序編寫:40823224</p>
<p>模擬:4082310/40823217</p>
<p>繪圖:40823206/40823223/40823207</p>
<p>網頁製作:40823209/40823201</p>
<p><a href="http://mde.tw/cd2021/downloads/2012_ece_The%20Design,%20Simulation,%20Verification%20and%20Implementation%20of%20Vending%20MachineBased%20on%20FPGA.pdf">ECE的Vending machine 設計與模擬</a></p>
<h2>W11</h2>
<h5>直播人員:40823210、40823206</h5>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" data-mce-fragment="1" frameborder="0" height="315" src="https://www.youtube.com/embed/80e1BnCF01Q" title="YouTube video player" width="560"></iframe></p>
<h2>W12</h2>
<h3>使用remoteapi</h3>
<h4>CoppeliaSim 場景 remote API 協同監控流程:</h4>
<h4><span>各組分別將個人在 stage1 與 stage2 所完成的 coppeliasim 場景,</span></h4>
<h4><span>採 Python remote API 進行遠端操控。</span></h4>
<p><span>(相關檔案都放在了倉儲:<a href="https://github.com/40823217/stage3-bg2">stage3-bg2</a>-販賣機api)</span></p>
<h1>HW</h1>
<h2>W2~W4</h2>
<p>分組倉儲:</p>
<p><a href="https://github.com/40823206/stage1-bg3">40823206/stage1-bg3</a></p>
<p>分組專題:傘</p>
<p>參考樣本影片</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/RoRK2kN9Mlk" width="560"></iframe></p>
<h5><a href="https://drive.google.com/drive/folders/1UYHaBlpLAAW8kOhdFDqUyho6dzzxKdbG?usp=sharing">零件檔下載</a></h5>
<p>組合圖截圖:</p>
<p><img alt="" height="256" src="/images/螢幕擷取畫面 2021-03-10 234126.png" width="300"/></p>
<p>專題模擬影片:</p>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/N6c1Zuhie6M" width="560"></iframe></p>
<h2>W5~W9</h2>
<p>W5、W6</p>
<p>討論、訂定主題</p>
<p>W7</p>
<p>分配工作</p>
<p>W8</p>
<p>繪製零件、組合</p>
<table style="width: 511.8px;">
<tbody>
<tr style="height: 133px;">
<td style="width: 125px; height: 133px;"><img caption="false" height="118" src="/images/10.png" width="100"/></td>
<td style="width: 120px; height: 133px;"><img alt="" height="78" src="/images/11.png" width="120"/></td>
<td style="width: 120px; height: 133px;"><img alt="" height="67" src="/images/13.png" width="120"/></td>
<td style="width: 120.8px; height: 133px;"><img alt="" height="72" src="/images/14.png" width="120"/></td>
</tr>
<tr style="height: 14px;">
<td style="width: 125px; height: 14px;"><a href="https://drive.google.com/file/d/1zBr2eFzB1aP52SsgtMG8j7HLfCKazeEw/view">連桿</a></td>
<td style="width: 120px; height: 14px;"><a href="https://drive.google.com/file/d/1CgyKPcSzLgB3Ue97ydUsgMSS9ejZUbyZ/view">下底盤</a></td>
<td style="width: 120px; height: 14px;"><a href="https://drive.google.com/file/d/10EWsN-aQlVQviLnbAxJxlPkr26N4j6mF/view">上底盤</a></td>
<td style="width: 120.8px; height: 14px;"><a href="https://drive.google.com/file/d/1B0UZRDZHWXd2jWETmtJf9a3rH3zvVXq6/view">尺條</a></td>
</tr>
<tr style="height: 14px;">
<td style="width: 125px; height: 14px;"><img caption="false" height="125" src="/images/15.png" width="125"/></td>
<td style="width: 120px; height: 14px;"><img alt="" height="120" src="/images/16.png" width="120"/></td>
<td style="width: 120px; height: 14px;"><img alt="" height="120" src="/images/17.png" width="120"/></td>
<td style="width: 120.8px; height: 14px;"><img alt="" height="120" src="/images/18.png" width="120"/></td>
</tr>
<tr style="height: 14px;">
<td style="width: 125px; height: 14px;"><a href="https://drive.google.com/file/d/13mn6GNJrANOqOxYXbWyNT_Tg9VDEbF6a/view">齒輪</a></td>
<td style="width: 120px; height: 14px;"><a href="https://drive.google.com/file/d/1h9Jd1l79dZsEUrv9F5THZMARjudjf6wR/view">連桿2</a></td>
<td style="width: 120px; height: 14px;"><a href="https://drive.google.com/file/d/1kI-S1rBEUR9m9xshOa0LzTDxR0wSUn05/view">連桿3</a></td>
<td style="width: 120.8px; height: 14px;"><a href="https://drive.google.com/file/d/1ekK68mz9OeTRIAMeVF0zgHl_4SHH6Al0/view">底座</a></td>
</tr>
<tr style="height: 14px;">
<td style="width: 125px; height: 14px;"><img alt="" height="120" src="/images/19.png" width="120"/></td>
<td style="width: 120px; height: 14px;"><img alt="" height="101" src="/images/2.png" width="120"/></td>
<td style="width: 120px; height: 14px;"><img caption="false" height="120" src="/images/20.png" width="120"/></td>
<td style="width: 120.8px; height: 14px;"><img alt="" height="87" src="/images/3.png" width="120"/></td>
</tr>
<tr style="height: 14px;">
<td style="width: 125px; height: 14px;"><a href="https://drive.google.com/file/d/1iup2OSAqf-zR_dvN5gpV_BmlTpH10i3q/view">滑塊</a></td>
<td style="width: 120px; height: 14px;"></td>
<td style="width: 120px; height: 14px;"><a href="https://drive.google.com/file/d/1Nh_lJk6peEVaNVQ83daAFod05yslfxqw/view">連桿1</a></td>
<td style="width: 120.8px; height: 14px;"><a href="https://drive.google.com/file/d/1Ko95M1TD5Omv04TObtIPBXwwEdCTPgVO/view">墊圈</a></td>
</tr>
<tr style="height: 14px;">
<td style="width: 125px; height: 14px;"><img alt="" height="86" src="/images/4.png" width="120"/></td>
<td style="width: 120px; height: 14px;"><img caption="false" height="98" src="/images/6.png" width="120"/></td>
<td style="width: 120px; height: 14px;"><img alt="" height="107" src="/images/8.png" width="120"/></td>
<td style="width: 120.8px; height: 14px;"><img alt="" height="145" src="/images/9.png" width="120"/></td>
</tr>
<tr style="height: 14px;">
<td style="width: 125px; height: 14px;"><a href="https://drive.google.com/file/d/1sYIQ4sKJIjEghwZF96sU0mzia7VT1of0/view">鉤爪</a></td>
<td style="width: 120px; height: 14px;"><a href="https://drive.google.com/file/d/1rnIP7AfVFAZeTZtAUlWjRE3oKn2lXxQk/view">馬達</a></td>
<td style="width: 120px; height: 14px;"><a href="https://drive.google.com/file/d/1F-SF7HRA788u9uAVomkxvgPiJ8nSVdl2/view">爪子機架</a></td>
<td style="width: 120.8px; height: 14px;"></td>
</tr>
<tr style="height: 14.2874px;">
<td style="width: 125px; height: 14.2874px;"><img alt="" height="120" src="/images/墊片.png" width="120"/></td>
<td style="width: 120px; height: 14.2874px;"><img alt="" height="120" src="/images/墊片1.png" width="120"/></td>
<td style="width: 120px; height: 14.2874px;"><img alt="" height="120" src="/images/墊片2.png" width="120"/></td>
<td style="width: 120.8px; height: 14.2874px;"><img alt="" height="120" src="/images/轉把.png" width="120"/></td>
</tr>
<tr style="height: 14px;">
<td style="width: 125px; height: 14px;"><a href="https://drive.google.com/file/d/1Cazddqtk2Yz7C7GLyAVpSFc2GXSjoB1x/view">墊片1</a></td>
<td style="width: 120px; height: 14px;"><a href="https://drive.google.com/file/d/1tZY42KMEQKmlGese4-YAplhxXBH3yiju/view">墊片2</a></td>
<td style="width: 120px; height: 14px;"><a href="https://drive.google.com/file/d/1gZ_zSghYnOGmlJ7ppVFZofuZAOwIwqSk/view">墊片3</a></td>
<td style="width: 120.8px; height: 14px;"><a href="https://drive.google.com/file/d/1qLuZg_cXjOrCyqTPgN4kT7VcAHIBnhc4/view">轉把</a></td>
</tr>
<tr style="height: 14px;">
<td style="width: 125px; height: 14px;"></td>
<td style="width: 120px; height: 14px;"></td>
<td style="width: 120px; height: 14px;"></td>
<td style="width: 120.8px; height: 14px;"></td>
</tr>
<tr style="height: 14px;">
<td style="width: 125px; height: 14px;"></td>
<td style="width: 120px; height: 14px;"></td>
<td style="width: 120px; height: 14px;"></td>
<td style="width: 120.8px; height: 14px;"></td>
</tr>
</tbody>
</table>
<h6>W9</h6>
<p>模擬</p>
<h1>Video</h1>
<h2>W1</h2>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/Wgt6Uq-2AC4" width="560"></iframe></p>
<h2>W2</h2>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/-SSuH7GIbvI" width="560"></iframe></p>
<h2>W3</h2>
<p><iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/Hihs-GHPxLM" width="560"></iframe></p>
<h1>W5</h1>
<p>STAGE1-AG3 <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" frameborder="0" height="315" src="https://www.youtube.com/embed/eoecDmN3UlE" title="YouTube video player" width="560"></iframe></p>
<table height="913" style="width: 696px;">
<tbody>
<tr style="height: 14.6px;">
<td style="width: 98px; height: 14.6px;"><span>組別</span></td>
<td style="width: 65.6px; height: 14.6px;">影片時長</td>
<td style="width: 510.4px; height: 14.6px;">影片連結</td>
</tr>
<tr style="height: 14px;">
<td style="width: 98px; height: 14px;"><span>stage1-ag1</span></td>
<td style="width: 65.6px; height: 14px;">3分40秒</td>
<td style="width: 510.4px; height: 14px;"><a href="https://drive.google.com/file/d/1HDW6iZtwjR62Hkm2yLWMowXyrekBY-IG/view?usp=sharing">https://drive.google.com/file/d/1HDW6iZtwjR62Hkm2yLWMowXyrekBY-IG/view?usp=sharing</a></td>
</tr>
<tr style="height: 14px;">
<td style="width: 98px; height: 14px;"><span>stage1-ag2</span></td>
<td style="width: 65.6px; height: 14px;"><span>3分04秒</span></td>
<td style="width: 510.4px; height: 14px;"><a href="https://drive.google.com/file/d/16KI0RuWjfE47YFYvMVejYgu6EPWAxvq_/view?usp=sharing">https://drive.google.com/file/d/16KI0RuWjfE47YFYvMVejYgu6EPWAxvq_/view?usp=sharing</a></td>
</tr>
<tr style="height: 14px;">
<td style="width: 98px; height: 14px;"><span>stage1-ag3</span></td>
<td style="width: 65.6px; height: 14px;"><span>2分24秒</span></td>
<td style="width: 510.4px; height: 14px;"><a href="https://drive.google.com/file/d/1fNWoIS09-JH5GD_KcolJsIkSALkNo5HO/view?usp=sharing">https://drive.google.com/file/d/1fNWoIS09-JH5GD_KcolJsIkSALkNo5HO/view?usp=sharing</a></td>
</tr>
<tr style="height: 14px;">
<td style="width: 98px; height: 14px;"><span>stage1-ag4</span></td>
<td style="width: 65.6px; height: 14px;"><span>3分19秒</span></td>
<td style="width: 510.4px; height: 14px;"><a href="https://drive.google.com/file/d/1udO73zfr5zeNsqATorETcIKR6xuCPBat/view?usp=sharing">https://drive.google.com/file/d/1udO73zfr5zeNsqATorETcIKR6xuCPBat/view?usp=sharing</a></td>
</tr>
<tr style="height: 14px;">
<td style="width: 98px; height: 14px;"><span>stage1-ag5</span></td>
<td style="width: 65.6px; height: 14px;"><span>3分38秒</span></td>
<td style="width: 510.4px; height: 14px;"><a href="https://drive.google.com/file/d/123F5mbPQAFfkkgQINcphP8joK8-nEk15/view?usp=sharing">https://drive.google.com/file/d/123F5mbPQAFfkkgQINcphP8joK8-nEk15/view?usp=sharing</a></td>
</tr>
<tr style="height: 14px;">
<td style="width: 98px; height: 14px;"><span>stage1-ag6</span></td>
<td style="width: 65.6px; height: 14px;"><span>5分50秒</span></td>
<td style="width: 510.4px; height: 14px;"><a href="https://drive.google.com/file/d/1dRth_dnRI4jJPNOkcCtP176Tg2dr0v6J/view?usp=sharing">https://drive.google.com/file/d/1dRth_dnRI4jJPNOkcCtP176Tg2dr0v6J/view?usp=sharing</a></td>
</tr>
<tr style="height: 14px;">
<td style="width: 98px; height: 14px;"><span>stage1-ag7</span></td>
<td style="width: 65.6px; height: 14px;"><span>2分26秒</span></td>
<td style="width: 510.4px; height: 14px;"><a href="https://drive.google.com/file/d/15m_o0MDDlf3U0t1fK8_6I1t-JYrv1Kx6/view?usp=sharing">https://drive.google.com/file/d/15m_o0MDDlf3U0t1fK8_6I1t-JYrv1Kx6/view?usp=sharing</a></td>
</tr>
<tr style="height: 14px;">
<td style="width: 98px; height: 14px;"><span>stage1-ag8</span></td>
<td style="width: 65.6px; height: 14px;"><span>1分33秒</span></td>
<td style="width: 510.4px; height: 14px;"><a href="https://drive.google.com/file/d/1rvNu6MNuGpKbf8tCxN8bbDIB5yeho3HX/view?usp=sharing">https://drive.google.com/file/d/1rvNu6MNuGpKbf8tCxN8bbDIB5yeho3HX/view?usp=sharing</a></td>
</tr>
<tr style="height: 14px;">
<td style="width: 98px; height: 14px;"><span>stage1-ag9</span></td>
<td style="width: 65.6px; height: 14px;"><span>1分18秒</span></td>
<td style="width: 510.4px; height: 14px;"><a href="https://drive.google.com/file/d/1G8BEbICF30DPip7PSlkbIDy35DT83n-2/view?usp=sharing">https://drive.google.com/file/d/1G8BEbICF30DPip7PSlkbIDy35DT83n-2/view?usp=sharing</a></td>
</tr>
<tr style="height: 14px;">
<td style="width: 98px; height: 14px;"><span>stage1-ag10</span></td>
<td style="width: 65.6px; height: 14px;"><span>3分08秒</span></td>
<td style="width: 510.4px; height: 14px;"><a href="https://drive.google.com/file/d/1-lDEeP_GVfWBIYPYjFO6_YtE7NErMrfQ/view?usp=sharing">https://drive.google.com/file/d/1-lDEeP_GVfWBIYPYjFO6_YtE7NErMrfQ/view?usp=sharing</a></td>
</tr>
<tr style="height: 14px;">
<td style="width: 98px; height: 14px;"><span>stage1-ag11</span></td>
<td style="width: 65.6px; height: 14px;"><span>1分04秒</span></td>
<td style="width: 510.4px; height: 14px;"><a href="https://drive.google.com/file/d/1Hvde2nxvu13ButL2x2lPlXY2064iBwIv/view?usp=sharing">https://drive.google.com/file/d/1Hvde2nxvu13ButL2x2lPlXY2064iBwIv/view?usp=sharing</a></td>
</tr>
<tr style="height: 14px;">
<td style="width: 98px; height: 14px;"><span>stage1-ag12</span></td>
<td style="width: 65.6px; height: 14px;"><span>1分59秒</span></td>
<td style="width: 510.4px; height: 14px;"><a href="https://drive.google.com/file/d/1Hvde2nxvu13ButL2x2lPlXY2064iBwIv/view?usp=sharing">https://drive.google.com/file/d/1Hvde2nxvu13ButL2x2lPlXY2064iBwIv/view?usp=sharing</a></td>
</tr>
<tr style="height: 14px;">
<td style="width: 98px; height: 14px;"><span>stage1-ag13</span></td>
<td style="width: 65.6px; height: 14px;"><span>2分17秒</span></td>
<td style="width: 510.4px; height: 14px;"><a href="https://drive.google.com/file/d/1ydtrtyoktyjNo5ImvlrlKa9qcS5GEgY4/view?usp=sharing">https://drive.google.com/file/d/1ydtrtyoktyjNo5ImvlrlKa9qcS5GEgY4/view?usp=sharing</a></td>
</tr>
<tr style="height: 14px;">
<td style="width: 98px; height: 14px;"><span>stage1-ag14</span></td>
<td style="width: 65.6px; height: 14px;"><span>2分32秒</span></td>
<td style="width: 510.4px; height: 14px;"><a href="https://drive.google.com/file/d/15MxR1Ry8vnFY5JfIU028wfSxFX0r-BFe/view?usp=sharing">https://drive.google.com/file/d/15MxR1Ry8vnFY5JfIU028wfSxFX0r-BFe/view?usp=sharing</a></td>
</tr>
<tr style="height: 14px;">
<td style="width: 98px; height: 14px;"><span>stage1-ag15</span></td>
<td style="width: 65.6px; height: 14px;"><span>50秒</span></td>
<td style="width: 510.4px; height: 14px;"><a href="https://drive.google.com/file/d/1_0UITpbBj3iopMzmsKs0HFjHIEpRNDEq/view?usp=sharing">https://drive.google.com/file/d/1_0UITpbBj3iopMzmsKs0HFjHIEpRNDEq/view?usp=sharing</a></td>
</tr>
<tr style="height: 14px;">
<td style="width: 98px; height: 14px;"><span>stage1-ag16</span></td>
<td style="width: 65.6px; height: 14px;"><span>1分09秒</span></td>
<td style="width: 510.4px; height: 14px;"><a href="https://drive.google.com/file/d/1z3cb85pV9Yg89HVQvoaf_0o9Wj7njK-5/view?usp=sharing">https://drive.google.com/file/d/1z3cb85pV9Yg89HVQvoaf_0o9Wj7njK-5/view?usp=sharing</a></td>
</tr>
<tr style="height: 14px;">
<td style="width: 98px; height: 14px;"><span>stage1-ag17</span></td>
<td style="width: 65.6px; height: 14px;"><span>2分31秒</span></td>
<td style="width: 510.4px; height: 14px;"><a href="https://drive.google.com/file/d/1QI1ZYanXPxJV5m-dP3vR70zgoKVjrZ8U/view?usp=sharing">https://drive.google.com/file/d/1QI1ZYanXPxJV5m-dP3vR70zgoKVjrZ8U/view?usp=sharing</a></td>
</tr>
<tr style="height: 14px;">
<td style="width: 98px; height: 14px;"><span>stage1-ag18</span></td>
<td style="width: 65.6px; height: 14px;"><span>1分57秒</span></td>
<td style="width: 510.4px; height: 14px;"><a href="https://drive.google.com/file/d/1ydtrtyoktyjNo5ImvlrlKa9qcS5GEgY4/view?usp=sharing">https://drive.google.com/file/d/1ydtrtyoktyjNo5ImvlrlKa9qcS5GEgY4/view?usp=sharing</a></td>
</tr>
<tr style="height: 14px;">
<td style="width: 98px; height: 14px;"><span>stage1-ag19</span></td>
<td style="width: 65.6px; height: 14px;"><span>2分18秒</span></td>
<td style="width: 510.4px; height: 14px;"><a href="https://drive.google.com/file/d/1-ZfF3uJH1rHY2YmfEJM_5OlEJQH1hOr8/view?usp=sharing">https://drive.google.com/file/d/1-ZfF3uJH1rHY2YmfEJM_5OlEJQH1hOr8/view?usp=sharing</a></td>
</tr>
<tr style="height: 14px;">
<td style="width: 98px; height: 14px;"><span>stage1-ag20</span></td>
<td style="width: 65.6px; height: 14px;"><span>4分06秒</span></td>
<td style="width: 510.4px; height: 14px;"><a href="https://drive.google.com/file/d/1yVQNbigK4f_AbL6Nsc3y_pcJ6iLmCOXm/view?usp=sharing">https://drive.google.com/file/d/1yVQNbigK4f_AbL6Nsc3y_pcJ6iLmCOXm/view?usp=sharing</a></td>
</tr>
<tr style="height: 14px;">
<td style="width: 98px; height: 14px;"><span>stage1-ag21</span></td>
<td style="width: 65.6px; height: 14px;"><span>2分20秒</span></td>
<td style="width: 510.4px; height: 14px;"><a href="https://drive.google.com/file/d/1K0zOKvz6bSz7oIkbTcTtuCF_lkfOQsIr/view?usp=sharing">https://drive.google.com/file/d/1K0zOKvz6bSz7oIkbTcTtuCF_lkfOQsIr/view?usp=sharing</a></td>
</tr>
<tr style="height: 14px;">
<td style="width: 98px; height: 14px;"><span>stage1-ag22</span></td>
<td style="width: 65.6px; height: 14px;"><span>5分13秒</span></td>
<td style="width: 510.4px; height: 14px;"><a href="https://drive.google.com/file/d/1Vbtz1eUZ3t3Y123zbRYp51WS9wTgaV0E/view?usp=sharing">https://drive.google.com/file/d/1Vbtz1eUZ3t3Y123zbRYp51WS9wTgaV0E/view?usp=sharing</a></td>
</tr>
<tr style="height: 14px;">
<td style="width: 98px; height: 14px;"><span>stage1-ag23</span></td>
<td style="width: 65.6px; height: 14px;"><span>8分19秒</span></td>
<td style="width: 510.4px; height: 14px;"><a href="https://drive.google.com/file/d/1wCfZLRd_Kol2dW0bCwDsVlTX961efMHm/view?usp=sharing">https://drive.google.com/file/d/1wCfZLRd_Kol2dW0bCwDsVlTX961efMHm/view?usp=sharing</a></td>
</tr>
</tbody>
</table>